################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Houdini/.vs/Houdini
/Houdini/**/bin
/Houdini/**/obj
/Houdini/publish
/Houdini/src/**/Properties/PublishProfiles
/Houdini/**/*.fsproj.user
/Houdini/**/publish/**/*
